In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Aksu,CN,2022-02-12 04:39:04,41.1231,80.2644,32.81,32,3,1.63
1,1,Busselton,AU,2022-02-12 04:39:04,-33.6500,115.3333,71.10,60,63,14.16
2,2,Jamestown,US,2022-02-12 04:35:44,42.0970,-79.2353,41.09,68,100,13.80
3,3,Qaanaaq,GL,2022-02-12 04:39:04,77.4840,-69.3632,-23.28,50,0,7.40
4,4,Punta Arenas,CL,2022-02-12 04:39:05,-53.1500,-70.9167,57.31,77,75,23.02

In [3]:
#check the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Bambanglipuro,ID,2022-02-12 04:39:06,-7.9500,110.2833,85.59,65,100,4.81
9,9,Vaini,TO,2022-02-12 04:39:06,-21.2000,-175.2000,84.36,89,20,8.05
11,11,Bulolo,PG,2022-02-12 04:39:07,-7.2000,146.6500,85.41,46,73,2.55
16,16,Harper,LR,2022-02-12 04:39:08,4.3750,-7.7169,77.99,87,23,7.34
22,22,Rikitea,PF,2022-02-12 04:39:10,-23.1203,-134.9692,79.18,74,4,16.96
32,32,Saint-Philippe,RE,2022-02-12 04:39:13,-21.3585,55.7679,81.10,68,59,5.68
36,36,Bathsheba,BB,2022-02-12 04:39:15,13.2167,-59.5167,77.61,61,20,23.02
37,37,Flinders,AU,2022-02-12 04:39:15,-34.5833,150.8552,75.79,90,81,4.00
38,38,Kavieng,PG,2022-02-12 04:39:16,-2.5744,150.7967,83.35,71,52,6.64
43,43,Georgetown,MY,2022-02-12 04:39:32,5.4112,100.3354,86.90,75,20,5.75

In [20]:
preferred_cities_df.count()

City_ID       140
City          140
Country       139
Date          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
dtype: int64

In [21]:
preferred_cities_df = preferred_cities_df.dropna()

In [23]:
preferred_cities_df.count()

City_ID       139
City          139
Country       139
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
7    Bambanglipuro      ID     85.59  -7.9500  110.2833
9            Vaini      TO     84.36 -21.2000 -175.2000
11          Bulolo      PG     85.41  -7.2000  146.6500
16          Harper      LR     77.99   4.3750   -7.7169
22         Rikitea      PF     79.18 -23.1203 -134.9692
32  Saint-Philippe      RE     81.10 -21.3585   55.7679
36       Bathsheba      BB     77.61  13.2167  -59.5167
37        Flinders      AU     75.79 -34.5833  150.8552
38         Kavieng      PG     83.35  -2.5744  150.7967
43      Georgetown      MY     86.90   5.4112  100.3354

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Bambanglipuro,ID,85.59,-7.9500,110.2833,Puri Brata
9,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
11,Bulolo,PG,85.41,-7.2000,146.6500,Pine Lodge Bulolo
16,Harper,LR,77.99,4.3750,-7.7169,Screensaver
22,Rikitea,PF,79.18,-23.1203,-134.9692,People ThankYou
32,Saint-Philippe,RE,81.10,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
36,Bathsheba,BB,77.61,13.2167,-59.5167,Atlantis Hotel
37,Flinders,AU,75.79,-34.5833,150.8552,Shellharbour Resort & Conference Centre
38,Kavieng,PG,83.35,-2.5744,150.7967,Nusa Island Retreat
43,Georgetown,MY,86.90,5.4112,100.3354,Cititel Penang

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))